<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome to SelfTrack</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

  <header>
    <h1>Self Track</h1>
    <a href="/results" class="btn">View Results</a>
  </header>

  <main>
    <h2>Track your progress, improve your speed!</h2>
    <p>Start a session to monitor how quickly and efficiently you answer questions. Analyze your performance and track
      your improvement over time!</p>

    <div class="actions">
      <a href="/start_session" class="btn">🟢 Start New Session</a>
      <a href="/results" class="btn">🔖 View Past Results</a>

      <!-- Stop server button -->
       <p>Tracking Complete, wanna stop the server, Just stop it and you can leave the page, the server will be shutdown automatically...</p>
      <button id="stopServerBtn" class="btn btn-danger">⛔ Stop Server</button>
    </div>
  </main>

  <footer>
    &copy; 2025 Session Tracker | Made with ❤️ by <a href="https://github.com/sirsevrusio" class="github_profile_lnk">SirSevrus</a>
  </footer>

  <script>
    const stopServerBtn = document.getElementById('stopServerBtn');

    stopServerBtn.addEventListener('click', function () {
      if (confirm('Are you sure you want to stop the server? If you agree then after hitting yes you can leave this page.')) {
        fetch('/stop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: new URLSearchParams({ key: '5509' })  // Securely sending the secret key
        })
          .then(response => {
            if (response.ok) {
              return response.text();
            } else {
              throw new Error('Failed to stop server: ' + response.statusText);
            }
          })
          .then(data => {
            alert(data);
          })
          .catch(error => {
            alert('Error: ' + error.message);
          });
      }
    });
  </script>

</body>

</html>